/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
     padding-left: 20px;
    padding-right: 20px; 
}
.container-big {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
     padding-left: 15%;
    padding-right: 15%; 
    background-color:#B4D0E6;
    padding-bottom: 4%;
}
nav {
    cursor: pointer;
    padding: 5px;
    font-size: 12px;
    width: 55px;}
header .nav {
    justify-content: space-around;
}

.row {
    display: flex;
}

.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}

.col {
    flex-grow: 1;
}

.minus{max-width: 100%;
    padding-right: 70%;
    margin-top: 5%;
    padding-bottom: 3%;
}
.pad-5 {
    padding-top: 5%;
    padding-bottom: 5%;
}
.arrow {
    font-size: 230%;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight:300;
        font-style: normal;
       
}
h1 {font-family: "Open Sans", sans-serif;
    font-size: 46px;
    font-weight:900;
    font-style:normal;}

/*----------------
    BACKGROUND
------------------*/
.hero {background-color: #B4D0E6;}
/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: #0061FE;
    color: #fff;
}


/*----------------
    HEADER
------------------*/
header{
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    display: flex;
    flex:1
   }
   .header-left
   {max-width: 100%;
       display: flex;
    gap:20px  }

       .header-right
   {max-width: 100%;
    justify-content: flex-end;
    display: flex;
    gap: 20px;
    align-items: center;  }

    .header-container {
        display: flex;            
        align-items: center;       
        justify-content: space-between; 
        padding: 10px 20px;       
        width: 100%;
      }
/*----------------
    IMG
------------------*/  
.logo {width: 35%;
    height: 50%;
display: flex;
align-self: center;
}
.img-size{width: 68%;
    height: 68%;
    position: absolute;
    left: 34%;
    top: 36%;
}

   
/*----------------
    MAIN
------------------*/

/*----------------
    FOOTER
------------------*/
